<a href="https://colab.research.google.com/github/grace3999/USV_Python/blob/master/Notebooks/setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install netcdf4

Requirement already satisfied: netcdf4 in /usr/local/lib/python3.6/dist-packages (1.4.3.1)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.6/dist-packages (from netcdf4) (1.14.6)
Requirement already satisfied: cftime in /usr/local/lib/python3.6/dist-packages (from netcdf4) (1.0.3.4)

In [0]:
import numpy as np
import pandas as pd
import os
import re
from scipy import stats
import xarray as xr

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
file_path  = '/content/gdrive/Team Drives/USV_eScience_Incubator/Data/Data_frames/annot_features_full.csv'
file = pd.read_csv(file_path)
file.head()

,Unnamed: 0,animal_number,session,time_stamp,Annotation,power_sum,spec_pur,spec_cent,spec_spread,spec_skew,spec_kurt,spec_slope,spec_roll
0,0,527,cagepair,18922.5,high slug,44921.600,0.335974,40617.050954,117729.192000,6.831866,48.160918,0.000787,38586.198407
1,1,527,cagepair,24750.0,low slug,53212.637,0.295599,27042.548508,3827.200195,3.556462,20.402396,-0.000227,25690.421083
2,2,527,cagepair,56002.5,bbc,94253.766,0.189555,30090.095178,68103.292456,3.982554,18.393372,-0.002314,28585.590419
3,3,527,cagepair,174352.5,bbc,51008.836,0.306177,34324.170621,52563.703613,3.336529,10.448164,-0.001250,32607.962090
4,4,527,cagepair,342877.5,bbc,164846.110,0.144833,33090.921412,22861.514782,1.852232,3.185318,-0.001784,31436.375341

In [5]:
file_path  = '/content/gdrive/Team Drives/USV_eScience_Incubator/Data/netcdf_files/527_xr_Dataset.nc'
data = xr.open_dataset(file_path)
data

<xarray.Dataset>
Dimensions:                        (freq: 257, slices: 26666, times: 55)
Coordinates:
  * freq                           (freq) float64 0.0 488.3 ... 1.25e+05
  * times                          (times) float64 0.000256 0.000704 ... 0.02445
  * slices                         (slices) float64 0.0 22.5 ... 5.999e+05 6e+05
Data variables:
    __xarray_dataarray_variable__  (slices, freq, times) float32 ...

In [17]:
ls

 Data_Dictionary.gsheet   Fear/              netcdf_files/  'Sham blast'/
 Data_frames/             feature_dic.xlsx   Pain/

In [15]:
!df -lh

Filesystem      Size  Used Avail Use% Mounted on
overlay          49G   21G   26G  45% /
tmpfs           6.4G     0  6.4G   0% /dev
tmpfs           6.4G     0  6.4G   0% /sys/fs/cgroup
tmpfs           6.4G  8.0K  6.4G   1% /var/colab
/dev/sda1        55G   22G   34G  40% /etc/hosts
shm             6.0G     0  6.0G   0% /dev/shm
tmpfs           6.4G     0  6.4G   0% /sys/firmware
drive            49G   23G   27G  45% /content/gdrive

In [0]:
file_path  = '/content/gdrive/Team Drives/USV_eScience_Incubator/Data/Data_frames/annot_features_full.csv'
file = pd.read_csv(file_path)
file.head()

,Unnamed: 0,animal_number,session,time_stamp,Annotation,power_sum,spec_pur,spec_cent,spec_spread,spec_skew,spec_kurt,spec_slope,spec_roll
0,0,527,cagepair,18922.5,high slug,44921.600,0.335974,40617.050954,117729.192000,6.831866,48.160918,0.000787,38586.198407
1,1,527,cagepair,24750.0,low slug,53212.637,0.295599,27042.548508,3827.200195,3.556462,20.402396,-0.000227,25690.421083
2,2,527,cagepair,56002.5,bbc,94253.766,0.189555,30090.095178,68103.292456,3.982554,18.393372,-0.002314,28585.590419
3,3,527,cagepair,174352.5,bbc,51008.836,0.306177,34324.170621,52563.703613,3.336529,10.448164,-0.001250,32607.962090
4,4,527,cagepair,342877.5,bbc,164846.110,0.144833,33090.921412,22861.514782,1.852232,3.185318,-0.001784,31436.375341

In [0]:
ls

'My Drive'/  'Team Drives'/

In [0]:
cd Team\ Drives

/content/gdrive/Team Drives

In [0]:
cd Data\ frames

 Data_Dictionary.gsheet   Fear/              netcdf_files/  'Sham blast'/
'Data frames'/            feature_dic.xlsx   Pain/